/* styles.css */

/* Set a background color for the body */
body {
  background-color: #ededede5;
  font-family: Arial, sans-serif;
  margin: 10; /* Remove default margins to avoid unexpected scrolling */
}

/* Style the header to center the title */
.mdl-layout__header-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f4576; /* Header background color */
  color: #fff; /* Header text color */
  padding: 10px; /* Header padding */
}

/* Style the main content area */
.mdl-layout__content {
  display: flex;
  flex-direction: row; /* Stack content horizontally */
  align-items: center;
  padding: 0 8%;
  border: 1px solid #000;
}

/* Style the visualization container */
.visualization-group {
  display: flex;
  flex-wrap: wrap; /* Allow visualizations to wrap to the next line */
  justify-content: center;
  gap: 20px; /* Spacing between visualizations */
}

.visz {
  flex: 1; /* Distribute available space evenly among the visualizations */
  /* Ensure that visualizations fit within their parent divs */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: max-content;
}

#vis,
#vis1,
#vis2,
#vis3,
#vis4,
#vis5 {
  /* Distribute available space evenly among the visualizations */
  max-width: 100%; /* Ensure vis4 doesn't overflow the viewport */
}

.in_high {
  color: #a63603;
  font-weight: bold;
}

.out_high {
  color: #316d95;
  font-weight: bold;
}

.text-content {
  /* Add styles for the text content within the cell */
  color: #333; /* Custom text color */
  font-size: 18px; /* Custom font size */
  /* Add any other custom styles for the text content */
}
